@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Hospital System</h2>

<a href="/Patient/Register">Register Patient</a>
<br />
<a href="/Doctor/Diagnose">Doctor Diagnosis</a>
</div>
