<h2>Register Patient</h2>

<form method="post">
    <input name = "Fullname" placeholder="Name" />
    <input name = "Age" placeholder="Age"/>
    <input name= "Symptoms" placeholder="symptoms"/>
    <button type="submit">submit</button>
</form>